#!/bin/bash

COCO_PATH=/opt/coco

install() {
    cd $COCO_PATH

    # install relay
    python3 tools/install_venv.py
    tools/with_venv.sh pip install git+git://github.com/yyjinlong/paramiko.git#egg=paramiko
    tools/with_venv.sh python setup.py develop	

    # install proxy
    cd $COCO_PATH
    cp coco.sh /etc/profile.d/
}

start() {
    cd $COCO_PATH
    tools/with_venv.sh relay --config-file=etc/development.conf
}

stop() {
    ps auxww | grep relay | grep -v grep | awk '{print $2}' | xargs kill -9
}

restart() {
    stop
    sleep 1
    start
}

status() {
    count=`ps auxww | grep relay | grep -v grep | wc -l`
    if [ $count -gt 1 ]; then
        echo "relay is running ......"
    else
        echo "relay is stop"
    fi
}

case $1 in
    install)
        install
        ;;

    start)
        start
        ;;

    stop)
        stop
        ;;

    restart)
        restart
        ;;

    status)
        status
        ;;

    *)
        echo "Usage: $0 {install|status|start|stop|restar}"
esac
